.ventas-view .table td,
.ventas-view .table th {
	vertical-align: middle;
}

.ventas-view .icon-circle {
	width: 50px;
	height: 50px;
	display: flex;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
}

.ventas-view .btn-anterior {
	width: 90px;
}

.ventas-view .btn-siguiente {
	width: 90px;
}
