<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ReverseProxyApi" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="http://localhost:3000/api/{R:1}" />
        </rule>
        <rule name="ReverseProxyUploads" stopProcessing="true">
          <match url="^server/uploads/(.*)" />
          <action type="Rewrite" url="http://localhost:3000/server/uploads/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
